@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;

    font-family: var(--font-ibm-plex-kr), var(--font-ibm-plex);
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-ibm-plex-kr), var(--font-ibm-plex);
    height: 100vh;
  }
}

.code-inline {
  color: #d6336c;
  padding: 2px 4px;
  background: #f8e0e6;
  border-radius: 5px;
  font-size: 0.85em;
  font-weight: 600;
}

code {
  font-family: 'Source Code Pro', monospace; /* 코드 블록 폰트 */
}

pre {
  font-size: 0.95em;
  border-radius: 11px; /* 모서리 둥글게 */
  overflow-x: auto; /* 코드가 길 경우 스크롤 */
  margin: 1.2em 0 1.2em 0;
}

.language-bash.hljs {
  color: #383a42;
  background: #fafafa;
}

.language-bash.hljs .hljs-built_in {
  color: #0184bc;
}

.language-bash.hljs .hljs-string {
  color: #50a14f;
}

.toc {
  background-color: #f9f9f9;
  padding: 1em;
  border-left: 0.4em solid #ccc;
  border-radius: 0.4em;
  margin-bottom: 3em;
}

.toc h3 {
  font-size: 1.6em;
  font-weight: 900;
  margin-bottom: 0.5em;
}

.toc ul {
  /*padding: 0 0 0 2em;*/
  list-style-type: disc;
}

.toc li {
  margin-bottom: 0.5em;
}

.toc a {
  color: #3498db;
  text-decoration: none;
}

.toc a:hover {
  text-decoration: underline;
  font-weight: bold;
}
