.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1.5px solid #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  /*padding-bottom: 40px;*/
  border-bottom: 1px solid #333;
}

.sideHeader {

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%; /* or any specific height */
  /*display: block;*/
  /*justify-content: space-between;*/
  align-items: center;
}

.sample{
  position: relative;
  font-size: 17px;
  height: 130px;
  /*top: 90px;*/
  width: 180px;
}
.title {
  font-size: 4.5em;
  max-width: 60%;
}

.ctaButton {
  background-color: #ff4500;
  color: white;
  width: 190px;  /* 원하는 크기로 조정 */
  height: 190px; /* 너비와 동일하게 설정 */
  padding: 15px 30px;
  border-radius: 50%;
  display: flex;
  text-decoration: none;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.teamSection {
  margin-bottom: 40px;
}

.teamSection h2 {
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}

.teamSection h3 {
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  text-align: left;
}
.underlineTitle {
  position: relative;
  /*display: inline-block;*/
  margin-bottom: 20px;
  border-bottom: 1px solid #333;

}

.underlineTitle p {
  font-size: 44px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 5px;
}

.teamGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.teamMember {
  text-align: center;

}

.teamMember img {
  border-radius: 2px;
  border: 1px solid #333333;
}


.textContainer {
  max-width: 100%;
  display: block;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* 기타 필요한 스타일 */
.wrapper {
  font-family: var(--font-nanum-square);
}

.wrapper * {
  font-family: inherit !important;
}
